.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.log{
  color: #000;
  font-family: 'Arial Black';
  font-size: 40px;
}

label{
  color: #000;
  font-family: 'Sitka Text';
  font-size: 23px;
}
input , select{
  width: 250px;
  height: 27px;
  border-radius: 10px;
}

form{
  
  padding: 50px;
  margin-left: 5px;
}

.button2{
  border: none;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  margin: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 150px;
  height: 30px;
}

.button2:hover{
  background:#707070;
}

.section__padding{
  padding: 4rem 4rem;
}

.footer{
  background-color: none;
}

.sb-footer{
  display: flex;
  flex-direction: column;
}

.sb-footer-links{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.sb-footer-links-div{
  width: 150;
  margin: 1rem;
  display: flex;
  justify-content:center;
  flex-direction: column;
  color: #fff;
  margin-left: 600px;
}

a{
  color: rgba(175, 175, 179);
  text-decoration: none;
}

.socilmedia{
  display: flex;
  height: 8px;
}

.socilmedia img{
  width: 80;
}

.fofo{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.fofo li img:hover{
  transform: translateY(-5px);
}

.img1{
  width: 35px;
}

.sb-footer-links-div h2{
  font-size: 22px;
  line-height: 10px;
  margin-bottom: 2rem;
}

.sb-footer-links-div p{
  font-size: 15px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor:pointer;
  text-decoration: none;
  color: #fff;
}

.sb-footer-below{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb-footer-below-links{
  font-size: 13px;
  line-height: 10px;
  margin-left: 2rem;
  color: #fff;
  font-weight: 600;
}

hr{
  color: #ffff;
  width: 100%;
}

.sb-footer-coopyright{
  font-size: 13px;
  line-height: 10px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width:850px) {
  .sb-footer-heading h1 {
    font-size: 44px;
    line-height: 30px;
  }
}

@media screen and (max-width:550px) {
  .sb-footer-heading h1 {
    font-size: 43pc;
    line-height: 30px;
  }

  .sb-footer-links div{
    margin: 1rem 0;
    line-height: 5px;
  }

  .sb-footer-btn {
    font-size: 14px;
    line-height: 10px;
  }

  .sb-footer-below {
    flex-direction: column;
    align-items: center;
  }

  .sb-footer-below-links {
    flex-direction: column;
    align-items: center;
  }

  .sb-footer-below-links {
    margin-left: 0rem;
    margin-top: 1rem;
    align-items: center;
  }
}

@media screen and (max-width:850px) {
  .sb-footer-heading h1{
    font-size: 27px;
    line-height: 25px;
  }
}

.slider-wapper .image-list{
  display: grid;
  gap: 18px; 
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}

.slider-wapper .image-list::-webkit-scrollbar{
  display: none;

}

.slider-wapper .image-list .image-item{
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container{
  max-width: 1200px;
  width: 95%;
}

.container .slider-scrollbar{
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track{
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track{
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb{
  position: absolute;
  height: 100%;
  width: 50%;
  bottom: #000;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-track:active{
  cursor: grabbing;
}

.slider-scrollbar .scrollbar-thumb::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}


.home {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: middle;
  flex-direction: column;
  background-image: url('./component/na.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerContainer {
  width: auto;
  margin-left: 50px;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: #f6fdff;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.headerContainer p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: #f6fdff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headerContainer button {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #FF0000;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #fff;
  color: #FF0000;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}

img {
  padding: 5px;
  border-radius: 13px;
  width: 80%;
}

.p1 {
  font-family: 'Cooper Black';
  font-size: 150px;
  color: #000;
}     

.div1{
  background-color:rgb(225, 225, 225);
}

.img2{
  height: 390px;
  width: 330px;
  border-radius: 0%;
  margin-left: 200px;
  margin-top: 50px;
}

.p2{
  margin-top: 130px;
  margin-right: 200px;
  font-family: 'Sitka Text';
  font-size:18px ;
}

span{
  font-family: 'Arial Black';
  font-size: 35px;
}

.div3 {
  background-color: #EFEFEF;
}

.div2{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}

.card-image{
  position: relative ;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;  
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  border-radius: 50%;
  border: 4px solid #7FB3D5;
  
}

.card{
  border-radius: 255px;
  background-color: #fff;
  width: 320px;
}

.slide-content{
  margin: 0 40px;
  
}

.image-content .card-content{
  display: flex;
  flex-direction: column;
  padding: 10px 14px;
}

.name{
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.image-content{
  row-gap: 5px;
  position: relative;
  border-radius: 30px;
  padding-left: 80px;
}

.button1{
  border: none;
  font-size: 16px;
  color: #fff;
  background-color: #7FB3D5;
  border-radius: 20px;
  margin: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button1:hover{
  background:#707070;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:#7FB3D5;
}

.table1{
  width: 60%;
  margin-left: 20%;
  border-radius: 5px;
  border:groove;
  position: relative;
  justify-content: center;
  align-items: center;
}

.h33{
  color: #f52c36;
  font-size: 30px;
}

.div6 , .div4{
  background-image: url('./component/na.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

thead {
  color: #031050;
  background-color: #7FB3D5;
  font-size: 20px;
  font-family:'Arial Black';
  margin-top: 5px;
  width: 10px;
}

td{
  height: 40px;
  background-color:#87a4c25d;
  color: #f6fdff;
}

.btn1{
  background-color: #7FB3D5;
  border: solid #7FB3D5;
  border-radius: 30px;
}

.h12{
  font-size: 40px;
  font-family: 'Arial Black';
  color: #fffbfb;
}

.form2{
  padding-top: 150px;
}

.div7{
  
  color:#ffffff;
  font-family:monospace;
  padding-top: 10px;
  padding-right:20px;
  padding-left: 70px;
  padding-bottom: 10px;
}

.img7{
  height:10px;
  width:50px;
  padding-right:50px;
}

.imgage{
  height: 70px;
  width: 65px;
  margin-right: 600px;
}

.link{
  font-size: 19px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(255, 255, 255);
  text-decoration: none;
  margin: 10px;
}

.link:hover{
  color: #FF0000;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.button3{
  background-color: #c71e34;
  border-radius: 10px;
  width: 130px;
  height: 50px;
  margin-top: 120px;
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
}

.button3:hover{
  background-color: #eb4c67;
  transform:translateY(-7px);
}

.a1{
  text-decoration: none;
  color: #e6d6d6;
}

.a2{
  text-decoration: none;
  color: #fff;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'nunito', sans-serif;
  font-weight: 600;
}
body{
  background: url('./component/na.jpg');
  background-size: cover;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.box{
  width: 450px;
  height: 450px;
  background: #fff;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  padding: 40px;
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.1),
              -2px -0px 15px 2px rgba(0,0,0,0.1);
  z-index: 10;
}
.wrapper{
  position: absolute;
  width: 455px;
  height: 450px;
  border-radius: 30px;
  background: rgba(255,255,255,0.53);
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.115),
              -2px -0px 15px 2px rgba(0,0,0,0.054);
  transform: rotate(5deg);
}
.header{
  margin-bottom: 30px;
}
.header header{
  display: flex;
  justify-content: right;
}
header img{
  width: 25px;
}
.header p{
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  background-color: rgb(113, 134, 134);
  color: rgb(252, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 4px;
}
.input-box{
  display: flex;
  flex-direction:column;
  margin: 20px 0;
  position: relative;
  text-align: left;
  font-size: 15px;
  padding-left: 10px;
}

.i{
  font-size: 22px;
  position: absolute;
  top: 35px;
  right: 12px;
  color: #595b5e;
}
.input{
  height: 40px;
  border: 2px solid rgb(153,157,158);
  border-radius: 7px;
  margin: 7px 0;
  outline: none;
}
.input-field{
  font-weight: 500;
  padding: 0 10px;
  font-size: 17px;
  color: #333;
  background: transparent;
  transition: all .3s ease-in-out;
}

.input-field:focus{
  border:2px solid rgb(89,53,180);
}
.input-field:focus ~ i{
  color: rgb(89,53,180);
}
.input-submit{
  margin-top: 0px;
  background: #d32a46;
  border: none;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.input-submit:hover{
  background: #e1667b;
}
.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}
.bottom span a{
  color: #727374;
  text-decoration: none;
}
.bottom span a:hover{
  text-decoration: underline;
}

.logh3{
  color: white;
}


.row1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.row1 li img:hover{
  transform: translateY(-5px);
}

.ss{
  color: white;
}

.h22{
  color: #f7ef05;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.comment{
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
}
.p{
  color: #797e88;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.tab{
  margin-left: 30%;
  margin-right: 15%;
  background-color: #727374;
  opacity: 10%;
}

.delresp{
  color: #f6fdff;
}

.h3update{
  color: #f6fdff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.h1update{
  color: #bfd4de;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resp{
  color:#d32a46;
}
